body {
    background-color: aliceblue;
}

#head {
    margin: 10px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aqua;
    text-align: center;
}

.form {
    background-color: white;
    border: 1px white solid;
    padding: 5%;
    border-radius: 30px;
    margin: 30px;
    box-shadow: 0px 2px 10px gray;
}

input {
    margin: 5px;
    padding: 10px;
    border: 2px solid rebeccapurple;
    border-radius: 10px;
    font-size: large;
    color: rebeccapurple;
}

button {
    background-color: blue;
    color: white;
    padding: 5px;
    font-size: 20px;
    border-radius: 30px;
    border-color: transparent;
    margin-left: 50px;
}

button:hover {
    background-color: white;
    color: blue;
}

.div {
    font-size: 20px;
}

a {
    text-decoration: none;
    font-size: x-large;
}
